

*{
	/*-primary-blue: #0081C5;*/
	-primary-blue: #4049a9;
	-primary-button-color: #4049a9;
	-secondary-yellow: #FFEA00;
	-darker-blue: derive(-primary-blue, -70%);
	-lighter-blue: #ebebfa;
	
	
	-select-bgcolor: -primary-blue;
	-select-bgcolor2: -lighter-blue;
	-select-txtcolor: -darker-blue;

	
}


/* Split Panes */
.split-pane-divider {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 10, 0, 0, 0); /*trick to make the handles bigger */
    -fx-padding: 0 0 0 0;
}

/* Tabs */
.jfx-tab-pane {
	-jfx-disable-animation: true;
}

.jfx-tab-pane .headers-region {
    -fx-background-color: -primary-blue;
} 

.jfx-tab-pane .tab-header-background {
    -fx-background-color: -primary-blue;
}
.jfx-tab-pane .tab-selected-line {
    -fx-background-color: -secondary-yellow;
}

.jfx-tab-pane .tab-label{
	-fx-text-fill: white;
}

 
.jfx-tab-pane .tab-header-area .control-buttons-tab{
	-fx-background-color: -primary-blue;
}

.jfx-tab-pane .navtab:disabled .tab-label{
	 -fx-text-fill: -darker-blue;
}

.jfx-tab-pane .tab-header-area .jfx-rippler{
    -jfx-rippler-fill : -secondary-yellow;
}



/* List views */

.list-view:focused .list-cell:selected{
    -fx-text-fill: -select-txtcolor;
    -fx-background-color: -select-bgcolor, -select-bgcolor2;
  	-fx-background-insets: 0, 0 0 0 3;
}

.list-view:focused .list-cell:selected .label{
    -fx-text-fill: -select-txtcolor;
}

/* Table Views */

.table-view {
    -fx-table-color: rgba(82, 100, 174, 0.4);
    -fx-table-rippler-color: rgba(82, 100, 174, 0.6);
    -fx-border-style: none;
    -fx-background-color:white;
	-fx-border-width: 0;
}

.table-view:focused .table-row-cell:selected{
	-fx-table-cell-border-color: -select-bgcolor2;
    -fx-text-fill: -select-txtcolor;
    -fx-background-color: -select-bgcolor, -select-bgcolor2;
  	-fx-background-insets: 0, 0 0 0 3;
}

.table-view:focused .table-row-cell:selected .table-cell {
    -fx-text-fill: -select-txtcolor;
}

.table-view .column-header,
.table-view .column-header-background,
.table-view .column-header-background .filler {
    -fx-background-color: TRANSPARENT;
}

.table-view .column-header {
    -fx-border-width: 0 0 0 0;
    /*-fx-border-color: #F3F3F3;*/
}

.table-view .column-header .label {
    -fx-text-fill: #949494;
    -fx-padding: 16 0 16 0;
}

.table-view .column-header .arrow, .table-view .column-header .sort-order-dot {
    -fx-background-color: #949494;
}

.table-view .column-header:last-visible {
    -fx-border-width: 0 2 0 1;
}

.table-view .column-header-background {
    -fx-border-width: 0 0.0 1 0;
    -fx-border-color: #F3F3F3;
}

.table-view .table-cell {
    -fx-border-width: 0 0 0 0;
    -fx-padding: 8 10 5 10;
    -fx-alignment: center-left;
}

.table-view .column-overlay {
    -fx-background-color: -fx-table-color;
}

.table-view .column-resize-line, .table-view .column-drag-header {
    -fx-background-color: -fx-table-rippler-color;
}

.table-row-cell > .disclosure-node > .arrow {
    -fx-background-color: -fx-text-fill;
    -fx-padding: 0.333333em 0.229em 0.333333em 0.229em; /* 4 */
    -fx-shape: "M 0 -3.5 L 4 0 L 0 3.5 z";
}

.table-row-cell .jfx-text-field {
    -fx-focus-color: rgb(82, 100, 174);
}

.table-row-cell .jfx-text-field:error {
    -jfx-focus-color: #D34336;
    -jfx-unfocus-color: #D34336;
}

.table-row-cell .jfx-text-field .error-label {
    -fx-text-fill: #D34336;
    -fx-font-size: 0.75em;
}

.table-row-cell .jfx-text-field .error-icon {
    -fx-fill: #D34336;
    -fx-font-size: 1.0em;
}

.table-row-cell:grouped {
    -fx-background-color: rgb(230, 230, 230);
}

.table-view .menu-item:focused {
    -fx-background-color: -fx-table-color;
}

.table-view .menu-item .label {
    -fx-padding: 5 0 5 0;
}

/* Scroll Panes */
.scroll-pane .viewport {  
   -fx-background-color: transparent;
}


/* Combo boxes */

.combo-box-popup .list-view .list-cell:filled:hover 
{
	-fx-text-fill: -select-txtcolor;
    -fx-background-color: -select-bgcolor2;
}

/* like cards in bootstrap */

.card {
	-fx-background-color: white;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 30, 0, 0, 0);
}

/* Buttons */

.primary-button{
	-fx-background-color: -primary-button-color
}






.calendar-listview .list-cell {
	-fx-padding: 10 0 10 10;
}





.bg, .session-filters, .session-tab-root, .right-panel-bg {
	-fx-background-color: #FEFEFE;
	-fx-border-style: none;
}

.session-filters .label{

}

.session-filters .jfx-text-field{
	-jfx-focus-color: -primary-blue;
}




